h2 {
	margin: 0;
}
ul {
	list-style: none;
	margin-bottom: 20px;
}
ul li {
	margin: 0;
}
.popover {
	list-style: none;
	padding: 40px;
	background-color: #fafafa;
	display: none;
	z-index: 1;
	border: 1px #DDDDDD solid;
	width: calc(100% - 50px);
	position: absolute; 
	top: calc(100% - 15px);
	right: -1px;
}
.locations:hover ul, .amenities:hover ul {
	display: block
}
